<footer class="d-flex position-fixed">
    <div class="d-flex flex-column">
        <div class="d-flex flex-column">
            <a href="https://github.com/XavierNicodeme" target="_blank">
                <img class="footer-img mb-2" src="{{ asset('build/images/githubPortfolio.png') }}" alt="Github">
            </a>
            <a href="https://www.linkedin.com/in/xavier-nicodeme/" target="_blank">
                <img class="footer-img mb-2" src="{{ asset('build/images/linkedinPortfolio.png') }}" alt="Linkedin">
            </a>
            <a href="https://account.xbox.com/fr-fr/profile?gamertag=boubyvip" target="_blank">
                <img class="footer-img" src="{{ asset('build/images/xboxPortfolio.png') }}" alt="Xbox">
            </a>
        </div>
    </div>
</footer>