#cv {
  font-size: 18px;
}
.draw {
  width: 25%;
  height: auto;
}
.block-draw {
  margin-top: 11%;
}
.entete {
  margin-top: 18%;
}
.entete-text {
  font-size: 30px;
  color: lighten($tertiary, 10%);
}
footer {
  top: 70vh;
  left: 95%;
}
.footer-img {
  width: 35%;
  height: auto;
}
.footer-infos {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
input:focus, textarea:focus {
  border-color: $primary !important;
  outline: none;
}
.projets {
  background-color: $secondary;
}
.projet-img {
  width: 90%;
  height: 90%;
}