.draw {
  width: 30%;
  height: auto;
}
.block-draw {
  margin-top: 11%;
}
.entete {
  margin-top: 21%;
}
.entete-text {
  font-size: 30px;
  color: lighten($tertiary, 10%);
}
.name {
  color: $primary;
}
footer {
  top: 70vh;
  left: 95%;
}
.footer-img {
  width: 35%;
  height: auto;
}
.footer-infos {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.navbar-light .navbar-brand {
  color: $primary;
}
.navbar-light .navbar-brand:hover {
  color: $tertiary;
}
input:focus, textarea:focus {
  border-color: $primary !important;
  outline: none;
}
.projets {
  background-color: $secondary;
}

.btn-primary {
  background-color: $primary;
  border: none;
}
.btn-primary:hover {
  background-color: $tertiary;
  border: none;
}
.copyright {
  color: $tertiary;
}
